/*counter reset and styles of headings */
html, body {
    height: 100%;
}

body {
    counter-reset: section;
}

.manual h1 {
    counter-reset: subsection;
}

.manual h1:before {
    counter-increment: section;
    content: "Section " counter(section) ". ";
}

.manual h2:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

.manual h2 {
    line-height: 50px;
    color: #3a7486;
}

.manual_alpha {
    counter-reset: letters;

}

.manual_alpha li:before {
    counter-increment: letters;
    content: counter(letters, upper-alpha) "." " ";
    font-size: 18px;
    color: #3a7486;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
}

.manual_alpha li {

    font-size: 18px;
    color: #3a7486;
    font-weight: bold;
    line-height: 25px;
    padding-top: 10px;
}

.manual-numbers {
    counter-reset: mnumbers;

}

.manual-numbers li:before {
    counter-increment: mnumbers;
    content: counter(mnumbers, decimal) "." " ";
    font-size: 18px;
    color: #000000;
    line-height: 35px;
    font-weight: normal;
}

.manual-numbers li {
    font-size: 18px;
    color: #000000;
    line-height: 35px;
    font-weight: normal;
}

.nesting li:before {
    counter-increment: nested;
    content: counter(mnumbers) "." counter(nested) " ";
}

.nesting li {
    font-size: 18px;
    color: #000000;
    line-height: 35px;
    font-weight: normal;
    padding-left: 15px;
}

/* End counter reset */

/* table*/
.tbl_clamp_manual td {
    padding: 5px;
    text-align: left;

}

.tbl_clamp_manual th {
    padding: 10px;
    text-align: left;
    background: #A5D5E2;
}

.tbl_clamp_manual tr:nth-child(even) {
    background: #A5D5E2;
}

.tbl_clamp_manual tr:nth-child(odd) {
    background: #D2EAF1
}

.tbl_clamp_manual {
    border-collapse: collapse;
}

.tbl_clamp_manual caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    font-size: 18px;
    background-color: #264E59;
    text-align: center;
}

.tbl_manual_container {
    text-align: center;
}

.tbl_clamp_manual tr:hover {
    background-color: #f5f5f5
}

/* END table */

.subtitles-manual {
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 18px;
    color: #3a7486;
    font-weight: bold;
    line-height: 25px;
}

.section-manual {
    padding-top: 30px;
}

/* Separators (hr) */
.bs-docs-separator {
    margin: 40px 0 39px;
}

.section-header-manual {
    padding-bottom: 9px;
    /*margin: 20px 0 20px;*/
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    font-size: 36px;
}

.manual-subtitles-ol li {

    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 18px;
    color: #3a7486;
    font-weight: bold;
    line-height: 25px;
    list-style-type: upper-alpha;

}

.manual-regular-ol li {
    margin: 0;
    font-size: 18px;
    line-height: 35px;
    list-style-type: decimal;
}

/* img styles*/
.figure-manual {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: black;
}

.figure-manual img {
    height: auto;
}

@media (max-width: 480px) {
    .figure-manual img {
        width: 100%;
    }
}

@media (min-width: 481px) {
    .figure-manual img {
        max-width: 100%;
        height: auto;
    }

}

/* End img styles*/

.divider {
    *width: 100%;
    margin: 0;;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

/* starting manual nav bar*/


/*   Start  */

.navbar-nav>li {
    display: inline;
    margin-right: 20px;
    margin-top: 0;
     margin-bottom:0;
}


/* end */
.manual-nav {
    border-width: 0 0 1px;
    background-color: #E9E9E9;
    overflow: auto;
    position: relative;
}

.scrolnav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 100px;
    width: inherit;
    overflow-y: auto;
}

.manual-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 5px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

.manual-nav > li > a:hover {
    text-decoration: none;
    background-color: #F4F4F4;
    color: black;
}

.manual-nav label {
    color: black;
    display: block;
    padding: 10px 0px 10px 5px;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
}

.tree-toggler:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.tree-toggler.collapsed:after {
    content: "\e080";
}

.sublist a {
    position: relative;
    background-color: #6a6a6a;
    display: block;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    border-top-style: solid;
    border-top-color: #ffffff;
    border-top-width: 1px;
}

.sublist a:hover {
    text-decoration: none;
    background-color: #F4F4F4;
    color: black;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #F1F1F1;
}
/*li.dropdown:hover ul.dropdown-menu {
    display: block;
}*/

.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.dropdown-menu .divider {
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
.nav .open> a,
.nav .open> a:focus,
.nav .open> a:hover
{
    background-color: #0D76BB;
}

.dropdown-menu {
    background:#E9E9E9;
    color:#000000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}
@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
        background: #E9E9E9;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

}

ul.nav.navbar-nav.navbar-right.main-nav-list li ul.dropdown-menu a{

    color:#000000;
    font-weight: normal;
    font-family:'Lato', sans-serif;
    text-transform: capitalize;
    }

    /* end of manual nav*/
/* back to top button*/
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #3a7486 url("../img/manual/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}