RewriteEngine On

# Redirect old file path to new file path
# Redirect 301 index.php http://clamp.uth.edu
# Redirect 301 get_clamp.php http://clamp.uth.edu/get-clamp
# Redirect 301 tutorial.php http://clamp.uth.edu/tutorial
# Redirect 301 doc.php http://clamp.uth.edu/documentation

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

Order Deny,Allow